<style>
    body, html {
      height: 100%;
    }
    .bg {
      background-image: url("https://cdn.pixabay.com/photo/2015/12/03/02/21/child-1073638_960_720.jpg");
 
      height: 100%;
 
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
 </style>
 <body>
    <div class="bg">
        <h1> Welcome ! Our System Nice Day</h1>
        <button >Get Started</button>
    </div>
    <div class="continer">
        <h1>Learning System</h1>
        
    </div>
 </body>
